.navbar{
    background-color:blanchedalmond;
    font-weight: bold;
}

.card-title{
    color:blueviolet;
    font-size: 20px;
    font-weight: bold;
    text-align: justify; 
    font-size: 16px; 
    line-height: 1.5;
    text-align:center;
}
.card-text{
    color:gray;
    font-size: 10px;
    text-align: justify; 
    font-size: 16px; 
    line-height: 1.5;
    text-align:center;
}
.Color{
    color:greenyellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 30px;

}
span{
    color:orangered;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 30px; 
    
}
.para{
    font-size: 15px;
    font-style: oblique;
    color:darkolivegreen;
}
.d-block{
    width:100%; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 10px;
    margin-top:20px;
}
.card{
    margin:10px;
}
.Fafaicon{
    color: #007bff; 
    font-size: 2em; 
    display: flex;               
    justify-content: center;     
    align-items: center;   
}
.Footer{
    background-color: black;
    margin-top: 10px;
    padding: 15px;
    color:blanchedalmond;
    text-decoration: none;
    text-justify: distribute-all-lines;
}
.Footer-list1{
    margin-top: 5%;
}
.Fafaicon{
    font-size: 50px;
    margin-top: 10px;
}
.card{
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}