.sliding-text {
    overflow: hidden; 
    white-space: nowrap; 
    animation: slide-in 10s linear infinite forwards; 
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%); 
    }
    100% {
        transform: translateX(0); 
    }
}